body{
    background-image: url("../images/hotel-wallpaper-black.png");
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main{
    background-color: #ffffff;
    border: solid 2px grey;
}
#text{
    width: auto;
}
#textDiv{
    width: 100%;
}